<form action="/stocks" method="get" style="display:inline-block;width:400;">
<input type="text" name="search" placeholder="enter search item" autofocus="autofocus" />
<input type="hidden" name="selector" value="on" />
<input type="submit" value="search" />
</form>
