<form action="/clients" method="get" style="display:block;width:320px;">
<input type="hidden" name="selector" value="on" />
<input type="submit" value="search  by phone" id="phoner" style="display:inline-block;"/>
<input type="search" name="phone" id="phone_entry" placeholder="enter phone number" style="display:inline-block;" />
</form>
