<form action="/clients" method="get" style="display:block;width:320px;">
<input type="hidden" name="selector" value="on" />
<input type="submit" value="search  by arv number" id="searcher" style="display:inline-block;"/>
<input type="search" name="search" id="search_entry" placeholder="enter arv number" autofocus="autofocus" style="display:inline-block;" />
</form>
